.jumbotron {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/gradient1.jpg");
    background-size: cover;
  }

.img-responsive{
    background: #e9eaed;
}
body,h1,h2,h3,h4,h5,h6{
  font-family: Oswald;
}
